* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

#id {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/***** GENERAL *****/

.general {
  min-height: 225px;
  width: 600px;
  background-color: #aaa;
}

.general__h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
  margin-bottom: 10px;
}

.generalForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 12em;
}

.generalForm__label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 0;
}

.generalForm__button {
  margin-top: 1rem;
}

.generalData {
  display: flex;
  flex-direction: column;
}

.generalData__p {
  margin: 0.5rem 0 0.5rem 2rem;
}

.general--bold {
  font-weight: bold;
}

.generalData__button {
  align-self: center;
}

/***** EDUCATION *****/

.education {
  min-height: 100px;
  width: 600px;
  background-color: #bbb;
  display: flex;
  flex-direction: column;
}

.education__h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
  margin-bottom: 10px;
}

.education__buttons {
  display: flex;
  justify-content: center;
}

.education__button {
  align-self: center;
  margin: 0.5rem;
}

.educationForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10rem;
}

.educationForm__label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 0;
}

.educationForm__input {
  width: 190px;
}

.educationEdited {
  display: flex;
  flex-direction: column;
}

.educationEdited__p {
  margin: 0.25rem 0 0.25rem 2rem;
}

.educationEdited__button {
  align-self: center;
}

.educationEditing {
  display: flex;
  flex-direction: column;
}

.educationEditing__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8rem;
}

.educationEditing__label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 0;
}

.educationEditing__input {
  width: 190px;
}

.educationEditing__button {
  align-self: center;
  margin: 0.5rem;
}

.education--bold {
  font-weight: bold;
}

/***** EXPERIENCE *****/

.experience {
  min-height: 100px;
  width: 600px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.experience__h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
  margin-bottom: 10px;
}

.experience__button {
  align-self: center;
}

.experience__buttons {
  display: flex;
  justify-content: center;
}

.experience__button {
  align-self: center;
  margin: 0.5rem;
}

.experienceForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10rem;
}

.experienceForm__label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 0;
}

.experienceForm__input {
  width: 190px;
}

.experienceEdited {
  display: flex;
  flex-direction: column;
}

.experienceEdited__p {
  margin: 0.25rem 0 0.25rem 2rem;
}

.experienceEdited__button {
  align-self: center;
}

.experienceEditing {
  display: flex;
  flex-direction: column;
}

.experienceEditing__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8rem;
}

.experienceEditing__label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 0;
}

.experienceEditing__input {
  width: 190px;
}

.experienceEditing__button {
  align-self: center;
  margin: 0.5rem;
}

.experience--bold {
  font-weight: bold;
}
